
.Rectangle17 {
  width: 1890px;
  height: 600px;
  left: 80px;
  top: 289px;
  position: absolute;
  opacity: 0.9;
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 31px;
  border: 3px #3A76EF solid;
}

  
  .logoimage {
    width: 450px;
    height: 230px;
    left: 80px;
    top: 20px;
    position: absolute;
  }
  
  .upload {
    width: 256px;
    height: 256px;
    left: 50%;
    transform: translateX(-50%);
    top: 450px;
    position: absolute;
  }
  
  
  .results {
    width: 435px;
    height: 103px;
    left: 50%;
    transform: translateX(-50%);
    top: 950px;
    position: absolute;
  }
  
  
  .files {
    width: 324px;
    height: 80px;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
    position: absolute;
  }
  
  
  
  
  
  
  