@font-face {
    font-family: 'NanumNormal';
    font-style: normal;
    font-weight: normal;
    src: url(./AnyConv.com__NanumGothic-Regular.woff);
}
@font-face {
    font-family: 'NanumBold';
    font-style: normal;
    font-weight: bold;
    src: url(./AnyConv.com__NanumGothic-Bold.woff);
}
@font-face {
    font-family: 'NanumExtra';
    font-style: normal;
    font-weight: 800;
    src: url(./AnyConv.com__NanumGothic-ExtraBold.woff);
}