@font-face {
    font-family: 'NanumNormal';
    
    src: url("./AnyConv.com__NanumGothic-Regular.woff") format('opentype');
}
@font-face {
    font-family: 'NanumBold';

    src: url("./AnyConv.com__NanumGothic-Bold.woff")format('opentype');
}
@font-face {
    font-family: 'NanumExtra';

    src: url("./AnyConv.com__NanumGothic-ExtraBold.woff")format('opentype');
    }
@font-face {
    font-family: "GmarketSansTTFBold";

    src: url("./GmarketSansTTFBold.ttf") format("truetype");
}